###Sensible Google Mini Volumes###
- alias: volume down
  trigger:
    - platform: time
      at: '22:00:00'
  action:
    - service: media_player.volume_set
      entity_id:
        - media_player.living_room_speaker
        - media_player.bedroom_speaker
      data:
        volume_level: '0.09'

- alias: volume wake up
  trigger:
    - platform: time
      at: '06:30:00'
  action:
    - service: media_player.volume_set
      entity_id:
        - media_player.bedroom_speaker
      data:
        volume_level: '0.12'        
        
- alias: volume up
  trigger:
    - platform: time
      at: '08:30:00'
  action:
    - service: media_player.volume_set
      entity_id:
        - media_player.living_room_speaker
        - media_player.bedroom_speaker
      data:
        volume_level: '0.3'      

### Radio volume settings###
#- alias: 'Set Radio Volume'
#  trigger:
#    platform: state
#    entity_id: input_slider.volume_radio
#  action:
#    service: media_player.volume_set
#    data_template:
#      entity_id: >
#        {%if is_state("input_select.speakers", "Living Room") %} media_player.living_room_speaker
#        {% elif is_state("input_select.speakers", "Bedroom") %} media_player.bedroom_speaker
#        {% endif %}
#      volume_level: '{{ states.input_slider.volume_radio.state }}'
